html {
	font-size: 16px;
	@media ( min-width: 1280px ) and ( max-width: 1400px ) { 
		font-size: 15px;
	}
	@media ( min-width: 1024px ) and ( max-width: 1279px ) { 
		font-size: 14px;
	}
	@media ( min-width: 768px ) and ( max-width: 1023px ) { 
		font-size: 12px;
	}
	@media (max-width: 767px) {
    	font-size: 12px;
  	}
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}

html, body{
   height: 100%;
   min-height: 100%;
}

body {
	font-size: rem(17px);
	font-family: $font-stack-1;
	color: $black;
	line-height: 1;
}

a {
	font-family: $font-stack-1;
	color: $blue;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
    	opacity: .8;
    }
}

.sub-menu {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

p {
	font-size: 17px;
	font-size: rem(17px);
	margin-bottom: rem(20px);
	line-height: 38px;
	line-height: rem(38px);
	@include breakpoint($mobile) {
		line-height: 1.2em;
	}
	font-family: $font-stack-1;

	&.disclaimer {
		font-size: rem(16px);
	}
}

img {
	max-width: 100%;
	height: auto;
}

#{headings()} {
	font-family: $font-stack-1;
	margin: rem(20px 0px);
	margin-top: 0;
	font-weight: 600;
	line-height: 60px;
	line-height: rem(60px);
	@include breakpoint($mobile) {
		line-height: 1;
	}
}

h1 {
	font-size: 60px;
	font-size: rem(60px);
}

h2 {
	font-size: 45px;
	font-size: rem(45px);
}

h3 {
	font-size: 31px;
	font-size: rem(31px);
	font-family: $font-stack-1;
}

h4 {
	font-size: 20px;
	font-size: rem(20px);
	font-family: $font-stack-1;
}

h5 {
	font-size: 18px;
	font-size: rem(18px);
	font-family: $font-stack-1;
}

h6 {
	font-size: 16px;
	font-size: rem(16px);
	text-transform: uppercase;
	margin-bottom: rem(20px);
}

blockquote {
    margin: 0;
	font-style: italic;

	p {
		margin: 0 !important;
	}

}

cite {
	font-size: 1.2rem;
	font-style: normal;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.1rem;
	word-wrap: breakwork;
}

strong {
	font-weight: 700;
}

em, 
i, 
cite {
  font-style: italic;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

embed,
iframe,
object {
	max-width: 100%;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

div.site-inner {
	padding: 0;
	@include breakpoint($mobiletab) {
		padding: 0;
	}
    max-width: 100%;
    .entry {
    	padding: 0;
    	margin-bottom: 0;
    }
}

footer {
	background: $white;
}